on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Build app
        run: ./scripts/buildprod.sh

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3

      - name: Use gcloud CLI
        run: gcloud info

      - name: Build & push docker image
        run: gcloud builds submit --tag us-central1-docker.pkg.dev/notely-486315/notely-ar-repo/notely-api:v1.0.0 .
